.footbar {
	width: 70%;
	margin: auto;
	background-color: rgb(247, 215, 220);

	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	/* padding: 12px 100px; */
}

.insta {
	width: 50px;
	height: 50px;
	object-fit: cover;
}

.menu {
	display: flex;
	color: grey;
	list-style: none;
	margin: auto;
}

.menu li {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 30px;
	width: 100%;
}

.menu li:hover {
	background-color: rgb(247, 215, 220);
	border-radius: 5%;
}

.menu li a {
	text-decoration: none;
	color: inherit;
}

.menu li a:hover {
	color: white;
}

.icons {
	display: flex;
	padding-left: 0;
}

@media screen and (max-width: 768px) {
	.footbar {
		padding: 0px 0px;
	}
}

@media screen and (max-width: 700px) {
	.footbar {
		padding: 0px 0px;
	}
	.menu {
		flex-direction: column;
		padding-top: 0;
		margin-left: 0%;
	}
	.menu li {
		width: 100%;
	}
}
